.auto_width {
    width: 1px;
    white-space: nowrap;
}

.header_member {
    display: grid;
    padding: 10px;
    grid-template-columns: auto 80px;
    div {
        margin: {
            top: auto;
            bottom: auto;
        }
    }
}
