.bg {
    padding: 20px;
}

.item {
    padding: 10px;
}

.paper {
    padding: 10px;
}

.table {
    overflow-x: auto;
}

.auto_width {
    width: 1px;
    white-space: nowrap;
}

.header_member {
    display: grid;
    padding: 10px;
    grid-template-columns: 44px auto 80px;
    div {
        margin: {
            top: auto;
            bottom: auto;
        }
    }
}
