.bg {
    padding: 20px;
}

.paper {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 2px;
    border-radius: 5px;
}

.auto_width {
    width: 1px;
    white-space: nowrap;
}

.header_inv {
    display: grid;
    padding: 10px;
    grid-template-columns: 44px auto 80px;
    div {
        margin: {
            top: auto;
            bottom: auto;
        }
    }
}

.header_member {
    display: grid;
    padding: 10px;
    grid-template-columns: auto 80px;
    div {
        margin: {
            top: auto;
            bottom: auto;
        }
    }
}
